name: Env Var and Secrets

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Display Basic Message
        run: echo "This workflow will use environments, variables, and secrets."
